<!-- Include https://github.com/angular-ui/AngularJS-Atom snippet shortcuts -->
<html> <!-- ngindex -->
  <head>
    <title>Mercato News</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="mercatoNews" ng-controller="MainCtrl">
    <div ng-repeat="rumor in rumors | orderBy: '-upvotes'">
      <span ng-click="upvoteRumor(rumor)">^</span>
      <a ng-show="rumor.link" href="{{rumor.link}}">
        {{rumor.title}}
      </a>
      <span ng-hide="rumor.link">
        {{rumor.title}}
      </span>
      - upvotes: {{rumor.upvotes}}
    </div>
    <form ng-submit="addRumor()">
      <input type="text" placeholder="title" ng-model="title" value="">
      <br />
      <input type="text" placeholder="link" ng-model="link" value="">
      <br />
      <button type="submit">Post</button>
    </form>
  </body>
</html>
