
<div ng-repeat="rumor in rumors | orderBy: '-upvotes'" style="font-size:20px; margin-left:10px;">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="upvoteRumor(rumor)"></span>
  {{rumor.upvotes}}
  <a ng-show="rumor.link" href="{{rumor.link}}">
    {{rumor.title}}
  </a>
  <span ng-hide="rumor.link">
    {{rumor.title}}
  </span>
  <span ng-show="rumor.author" style="font-size:15px;">
    posted by {{rumor.author}}
  </span>
  <span style="font-size:15px;">
    <a class="glyphicon glyphicon-comment" href="#/rumors/{{rumor._id}}"></a>
  </span>
</div>

<form ng-submit="addRumor()" ng-show="isLoggedIn()" style="font-size:20px; margin-top:10px;">
  <h3>Post a new rumor</h3>
  <div class="form-group">
    <input type="text" placeholder="title" class="form-control" ng-model="title" value="">
  </div>
  <div class="form-group">
    <input type="text" placeholder="link" class="form-control" ng-model="link" value="">
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>

<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Sign Up</a> before you can add a post.</h3>
</div>
